@font-face{
	font-family: georgia;
	src: url(font/georgia.ttf);
}

@font-face{
	font-family: georgia-b;
	src: url(font/georgiab.ttf);
}

@font-face{
	font-family: georgia-i;
	src: url(font/georgiai.ttf);
}

@font-face{
	font-family: georgia-z;
	src: url(font/georgiaz.ttf);
}

@font-face{
	font-family: opensans-b;
	src: url(font/OpenSans-Bold.ttf);
}

@font-face{
	font-family: opensans-bi;
	src: url(font/OpenSans-BoldItalic.ttf);
}

@font-face{
	font-family: opensans-eb;
	src: url(font/OpenSans-ExtraBold.ttf);
}

@font-face{
	font-family: opensans-ebi;
	src: url(font/OpenSans-ExtraBoldItalic.ttf);
}

@font-face{
	font-family: opensans-i;
	src: url(font/OpenSans-Italic.ttf);
}

@font-face{
	font-family: opensans-l;
	src: url(font/OpenSans-Light.ttf);
}

@font-face{
	font-family: opensans-li;
	src: url(font/OpenSans-LightItalic.ttf);
}

@font-face{
	font-family: opensans-r;
	src: url(font/OpenSans-Regular.ttf);
}

@font-face{
	font-family: opensans-sb;
	src: url(font/OpenSans-Semibold.ttf);
}

@font-face{
	font-family: opensans-sbi;
	src: url(font/OpenSans-SemiBoldItalic.ttf);
}

.menu{
	background-color: #2C485D;
}

.frame-principal{
	background-color: #2D3E50;
	color: white;
}

.selly{
	display: block;
	padding-top: 5%;
	margin-left: 40%;
	margin-right: auto;
}

.texto1-principal{
	font-family: opensans-l;
	font-size: 200%;
	border: 20%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}

.texto1-principal b{
	font-family: opensans-eb;
}

.texto2-principal{
	font-family: opensans-l;
	text-align: center;
}

.frame-2, .frame-3{
	background-color: #FCFFFF;
}

.frame-4{
	background-color: #2D3E50;
}

.frame-5, .frame-6{
	background-color: #FFFFFF;
}